div(class="c-mobile-navigation")

  ul(class="c-mobile-navigation__list")

    li(class="c-mobile-navigation__item")
      a(class="c-mobile-navigation__link" href="#" alt="") Link

    li(class="c-mobile-navigation__item")
      a(class="c-mobile-navigation__link" href="#" alt="") Link

    li(class="c-mobile-navigation__item")
      a(class="c-mobile-navigation__link" href="#" alt="") Link

    li(class="c-mobile-navigation__item")
      a(class="c-mobile-navigation__link" href="#" alt="") Link

    li(class="c-mobile-navigation__item")
      a(class="c-mobile-navigation__link" href="#" alt="") Link
