nav(class="c-navigation c-navigation--right")
  
  ul(class="c-navigation__list")
    
    li(class="c-navigation__item")
      a(class="c-navigation__link" href="#" alt="") Link
      
    li(class="c-navigation__item")
      a(class="c-navigation__link" href="#" alt="") Link
      
    li(class="c-navigation__item")
      a(class="c-navigation__link" href="#" alt="") Link
      
    li(class="c-navigation__item")
      a(class="c-navigation__link" href="#" alt="") Link
      
    li(class="c-navigation__item")
      a(class="c-navigation__link" href="#" alt="") Link
