div(class="c-header o-container")
  div(class="o-row")
    div(class="o-col o-col-xs--3")
      include parts/logo.pug
    div(class="o-col")
      span(class="c-mobile-navigation-toggle")
        <svg class="c-mobile-navigation-toggle__icon" xmlns="http://www.w3.org/2000/svg" height="16" width="22"><path d="M1 7h20v2H1zM1 13h20v2H1zM1 1h20v2H1z"/></svg>
      include parts/navigation.pug
  include parts/mobile-navigation.pug    
  
