div(class="c-logo")
  
  a(class="c-logo__link" href="#" alt="home")
    //- Including svg tag is recommended for performance optimization.
    img(class="c-logo__img" src="img/logo_1.svg" alt="logo")
