//
// Layout
//

/**
* Additional info
*/

//
// variables

$layout-columns: 12;
$layout-gutters: $global-spacing-unit;

//
// style

// container

.o-container {
  position: relative;
  padding: 0 $layout-gutters;
}

// row
.o-row {
  @include clearfix();
  margin-left: -$layout-gutters;
  margin-right: -$layout-gutters;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;

  &--no-gutters {
    & .o-col {
      padding: 0 0;
    }
  }

  &--space-between {
    justify-content: space-between;
  }

  &--space-around {
    justify-content: space-around;
  }
}

// columns
.o-col {
  padding: 0 $layout-gutters;
  flex-grow: 1;
}

// column sizes
$i : $layout-columns;

@while $i > 0 {

  // Default
  .o-col--#{$i} {
    width: 100%;
    flex-grow: 0;

    // Default fullwidth breakpoint
    @include media-breakpoint-up(sm) {
      width: #{(100% / $layout-columns * $i)};
    }
  }
  // Defined fullwidth breakpoint '.o-col--md'
  @each $breakpoint, $size in $breakpoints {
    .o-col-#{$breakpoint}--#{$i} {
      @include media-breakpoint-down($breakpoint) {
        width: 100%;
      }
      @include media-breakpoint-up($breakpoint) {
        width: #{(100% / $layout-columns * $i)};
      }
    }
  }

  $i: $i - 1;

}
