doctype html
html

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Index
    link(rel="stylesheet" type="text/css" href="css/style.css")
    
  body(class="o-main-background")
    div(class="o-main-wrapper")
      include includes/header.pug
