//
// Components navigation
//

//
// variables

$navigation__link-color: $color-grey--6;
$navigation__link-color--hover: $color-grey--8;

// style
.c-navigation {

  transition: $global-transition;
  display: none;

  @each $breakpoint, $height in $global-header-heights {

    @if( $breakpoint == 'xs' ){
      height: $height;
    }

    @else{
      @include media-breakpoint-up($breakpoint) {
        height: $height;
      }
    }
    @include media-breakpoint-up('sm'){
      display: flex;
      align-items: center;
    }
  }

  &--right {
    justify-content: flex-end;
  }
  &--center {
    justify-content: center;
  }
}

.c-navigation__list {
  margin-left: 0;
  margin-bottom: 0;
}

.c-navigation__item {
  display: inline-block;
  transition: $global-transition;
  list-style-type: none;

  &:hover {
    .c-navigation__link {
      color: $navigation__link-color--hover;
    }
  }
}

.c-navigation__link {
  display: block;
  color: $navigation__link-color;
  text-decoration: none;
}
