//
// component logo
//


//
// variables



//
// style

.c-logo {

  display: flex;
  align-items: center;

  @each $breakpoint, $height in $global-header-heights {
    @if( $breakpoint == 'xs' ){
      height: $height;
    }

    @else{
      @include media-breakpoint-up($breakpoint) {
        height: $height;
      }
    }
  }
}

.c-logo__img {
  display: block;
  max-width: 60px;
}
