//
// Mobile navigation
//

/**
* Hidden by default
*/

//
// variables

$mobile-navigation__link-color: $color-grey--6;
$mobile-navigation__link-color--hover: $color-grey--8;

// style
.c-mobile-navigation {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  transition: $global-transition;
  @include fade-out();

  &.active {
    @include fade-in();
  }
}

.c-mobile-navigation__list {
}

.c-mobile-navigation__item {
  transition: $global-transition;
  list-style-type: none;

  &:hover {
    .c-mobile-navigation__link {
      color: $mobile-navigation__link-color--hover;
    }
  }
}

.c-mobile-navigation__link {
  display: block;
  color: $mobile-navigation__link-color;
  text-decoration: none;
}

.c-mobile-navigation-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include media-breakpoint-up($global-mobile-navigation-breakpoint) {
    display: none;
  }
  @each $breakpoint, $height in $global-header-heights {

    @if( $breakpoint == 'xs' ){
      height: $height;
    }

    @else{
      @include media-breakpoint-up($breakpoint) {
        height: $height;
      }
    }
  }
}
.c-mobile-navigation-toggle__icon {
  cursor: pointer;
  path {
    fill: $color-grey--8;
  }

}
